*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
@font-face {
    font-family:MYFONT ;
    src: url(/Gridstar-Regular.otf);
}

.navbar-header{

    font-family: MYFONT;
    color: rgb(245, 45, 45);
}